/* TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE */
@media only screen and (min-width:631px){

    
    .formulaire{
        display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    /*margin-top: 50px;*/
    }





    
}


 /*DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS 
@media only screen and (min-width:1000px) {




    main{
        
        grid-template-columns: 5% 5% 5% 10fr 5%;
        
        
        
    }


 }

*/