
.inter__img{
    height: 60px;
    border-radius: 50px;
  }

.interview--quest , .interview--repon{
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}

.interview--quest p, .interview--repon p {
    background-color: $c-deco;
    max-width: 55%;
    border-radius: 20px;
    padding: 15px 15px 11px;
    margin: 0 20px;
}

.interview--quest img {
    border: 1px solid $c-deco;
}

.interview--repon img{
    border: 1px solid $c-text;
}

.interview--repon p{
    background-color: $c-text;
    color: $c-bg;
}

.interview__contenue{
    margin: 57px 0 80px 0;
}




/* DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS */
@media only screen and (min-width:1000px) {

    .inter__img{
        height: 100px;
        border-radius: 50px;
      }

}
