

.slider{
    width: 80%;
    max-width: 1200px;
    margin-top: 50px;
    position: relative;
    margin-bottom: 0;
    margin-left: 45px;
}

.slider__el{
    position: absolute;
    top: 0;
    left:0;
}

.prevbtn,.nextbtn{
    cursor: pointer;
    padding: 3px;
    border: none;
    background-repeat: no-repeat;
}

.prevbtn{
    background-image: url(../assets/images/svg/flecheG.svg);
}

.nextbtn{
    background-image: url(../assets/images/svg/flecheD.svg);
}

.slider__list{
    margin: 0 0 40px 0;
    padding: 0;
    list-style: none;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 100px);
    gap: 2%;
}

.slider__content{
    grid-row: 1/3;
    background-color: $c-text;
    padding: 10px;
    z-index: 10;
    
    h3 {
        width: 250px;
    }
}


.slider__content--list{
    list-style-image: url(../assets/images/svg/patte.svg);
    width: 230px;
    padding-inline-start: 0px;
}


/*controls*/
.slider__control{
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 10;
    position: relative;
}

.slider__btn{
    grid-row: 6;
    align-self: flex-start;   
}


.slider__btn--next{
    grid-column: 4;
    justify-self: center;   
}

.slider__btn--prev{
    grid-column: 2;
    justify-self: center;
    align-self: flex-start;   
}

.slider__btn button{
    border: none;
    background-color: transparent;
    cursor: pointer; 
}

.hidden{
    display: hidden;
    color: transparent;
    margin-bottom: 0px;
}


/* animation*/

.slider__content{
    transform: translateX(50px);
    transition: all .3s ease-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.slider__img{
    transform: translateX(-50px);
    transition: all .3s ease-out;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.slider__el--show .slider__content{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.slider__el--show .slider__img{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.formulaire--img{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    margin-bottom: 100px;
    margin-top: 65px;  
}

.slider__img{
    height: 20px;  
}

/* TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE */
@media only screen and (min-width:631px){

    .grid{
        grid-template-rows: repeat(4, 100px);
        width: 400px; 
    }

    .slider{
        margin: 0;
    }

    .slider__content--list{
        padding-inline-start: 0;
        width: 300px;
    }

    .slider__content{
        width: 200px;
        margin-top: 0;
        padding: 0;

        h3{
            margin-top: 0;
            margin-left: 0; 
        }
    }

    .formulaire--img{
        margin-right: inherit;
        margin-left: 30px;
        margin-top: 80px;
        width: 85%;
    }

    .slider__btn--next{
        grid-column: 3;
        align-self: flex-start;  
    }
    
    .slider__btn--prev{
        grid-column: 2;   
    }

    .proso__formulaire{
        margin-bottom: 100px;
    }

    .proso div:nth-of-type(4){
        max-width: inherit;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .formulaire{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
    }
  
}

/* DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS */
@media only screen and (min-width:1000px) {

    .grid{
        grid-template-rows: repeat(4, 85px);   
    }
    
    .formulaire--img{
        width: 80%;
        margin-top: 0px;
        border-radius: 10px;
        z-index: 10;
    }
    

    .slider__content--list, .slider__content, .slider__content h3{
        width: 500px;
    }
    
    .formulaire{
        align-content: space-between;
        width: 62%;
    }

    .proso__formulaire{
        margin-bottom: 130px;
    }
}

/* DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS */
@media only screen and (min-width:1660px){
    .formulaire--img{
        width: 70%;
    }
}