

  .soustete--img{
  
    max-width: 100%;
    text-align:center;
    margin:auto;
    display:flex;
    margin-bottom: 80px;
  }

  .soustete__img--mimi{
    margin-bottom: 60px;
  }
  

  .soustete__img--moka{
    transform: scaleX(-1);
  }
  
  
    
  
  
  
  .soustete p {
    margin-bottom: 20px;
  }

  /* TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE */
@media only screen and (min-width:631px){
  .soustete--img{
    border-radius: 10px;
  }

}




   /*DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS */
@media only screen and (min-width:1000px){

  

  .soustete__flex{
    display: flex;
    height: max-content;
    align-items: center;
  }

  .soustete__flex{
    margin-bottom: 100px;
  }

  .soustete:nth-last-of-type(2){
    margin-bottom: 160px;
  }


  .soustete__flex--text2 p, .soustete__flex--text2 h3 {
    width: 70%;
  }

  .soustete__flex:nth-of-type(2){
    flex-direction: row-reverse;
    
  }

  .soustete__flex--text2{
    margin-left: 60px;
  }
  .soustete--img{
    margin-bottom: 0px;
    border-radius: 10px;
    
  }

  .soustete__img--mimi{
    margin-bottom: 0px;
    width: 500px;
  }

  .soustete__img--moka{
    width: 400px;
  }

  .soustete__flex--text1{
    margin-left: 10%;
    padding-right: 60px;
    width: inherit;
    
  }
  
}