
.soustete{
  &--img{
    max-width: 100%;
    text-align:center;
    margin:auto;
    display:flex;
    margin-bottom: 80px;
  }

  &__img--moka{
    margin-bottom: 60px;
    transform: scaleX(-1);
  }

  p {
    margin-bottom: 20px;
  }
}


   /*DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS */
@media only screen and (min-width:1000px){

  .soustete{  
    &__flex{
      display: flex;
      height: max-content;
      align-items: center;
      margin-bottom: 100px;

      &--text2{
        margin-left: 60px;
      }

      &--text1{
        margin-left: 10%;
        padding-right: 60px;
        width: inherit; 
      }

      &:nth-of-type(2){
        flex-direction: row-reverse;
      }
    }

    &:nth-last-of-type(2){
      margin-bottom: 160px;
    }

    &__flex--text2 p, &__flex--text2 h3 {
      width: 70%;
    }

    &--img{
      margin-bottom: 0px;
      border-radius: 10px;
    }

    &__img--mimi{
      transform: scaleX(-1);
      width: 400px;
    }

    &__img--moka{
      width: 500px;
      margin-bottom: 0px;
    }
  }
  
}

/* DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS */
@media only screen and (min-width:1680px){

  .soustete__flex--text1 {
    margin-left: 20%;
  }

}