.tete {
  a {
    color: $c-deco;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
  }

  img {
    max-width: 100%;
  }
}


/* DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS */
@media only screen and (min-width:1000px) {

  .tete{
    display: flex;
    margin-top: 40px;
  
    img {
      max-width: 50%;
    }
        
    div{
      margin-left: 80px;
      padding-top: 120px;
      p{
        max-width: 60%;
      }  
    }
  }

}