body {
    font-family: 'Nunito', sans-serif;
    font-size: $sizeTel-txt;
    line-height: 1.4;
    color: $c-text;
    background-color: $c-bg;
    margin: 0 0;
  }

  p{
    width: 97%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .interview__resume--margin, .proso--margin, .mpa--margin, .tete--margin{
    margin-bottom: 20px;
  }
  
  h1{
    font-size: $sizeTel-un;
    margin: 25px 0 5px 0;
  }
  
  h2{
    font-size: $sizeTel-dx;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h3{
    font-size: $sizeTel-trs;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .tete, .proso, .footer{
    background-color: $c-text;
    color: $c-bg;
  }

  .tete div, .soustete div p, .soustete div h3, .interview .interview--resume, .interview h2, .proso h2, .proso p, .mpa p, .mpa h3, .formulaire--soluce h3{
    margin-left: 10px;
  }

  .tete, .interview, .proso{
    padding-bottom: 40px;
  }

  .mpa{
    padding-bottom: 80px;
  }

  .proso, .mpa{
    padding-top: 40px;
  }

  .bold{ 
    font-size: $sizeTel-txt;
    font-weight: 700;
  }
    
  

/* TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE */
@media only screen and (min-width:631px){

  body {
    font-size: $sizeTab-txt;
  }
  
  h1{
    font-size: $sizeTab-un;
  }
  
  h2{
    font-size: $sizeTab-dx;
  }
  
  h3{
    font-size: $sizeTab-trs;
  }

  .tete div, .soustete, .mpa, .interview--resume, .proso h2, .interview, .proso div:nth-of-type(5), .formulaire--soluce{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;  
  }

  .tete div, .mpa, .interview--resume, .proso h2, .interview, .proso div:nth-of-type(5), .formulaire--soluce{
    max-width: 65%; 
  }
  .soustete{
    max-width: 80%;
  }
  .soustete div p, .soustete div h3, .interview .interview--resume, .interview h2, .proso p, .mpa p, .mpa h3, .formulaire--soluce h3{
    margin-left: 0px;
  }
  

  .soustete--img, .formulaire--img, .mpa--img {
    border-radius: 10px;
  }

}

/* DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS */
@media only screen and (min-width:1000px) {

  h1{
    margin: 25px 0 25px 0;
  }
  
  .proso p, .interview--resume p, .tete p, .soustete p:not(.soustete__flex--text p){
    max-width: 60%;
  }
    
  body section{
    padding: 0;
  }
    
  .tete, .interview, .proso{
    padding-bottom: 0;
  }
    section:not(.tete) {
    padding-left: inherit;
  }

  .interview, .proso{
    padding-bottom: 80px;
  }

  .mpa{
    padding-bottom: 160px;
  }

  .soustete, .proso, .mpa{
    padding-top: 80px;
  }

  .interview--resume, .interview h2, .proso h2, .proso div:nth-of-type(5){
    max-width: 65%;
  }

  .mpa {
    max-width: 70%;
  }

  .nav__list--li a:hover, .navfo__liste--li a:hover, .footer__info a:hover:not(.footer__info--nohover), .tete a:hover{
    background-color: $c-deco;
    color: $c-text;
  }

  .navfo__liste--li a:focus, .navfo__liste--li a:focus, .footer__info a:focus, .tete a:focus, .nav__list--li a:focus,.footer__info--logodwm:focus{
    border: 2px solid $c-deco;
  }

}


/* DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS */
@media only screen and (min-width:1660px){

  .proso p, .interview--resume p, .tete p, .soustete p:not(.soustete__flex--text p){
    max-width: 50%;
  }
}