body {
    font-family: 'Nunito', sans-serif;
    font-size: $sizeTel-txt;
    line-height: 1.4;
    color: $c-text;
    background-color: $c-bg;
    margin: 0 0;
  }
  
  h1{
  font-size: $sizeTel-un;
  margin: 0 0;
  }
  
  h2{
  font-size: $sizeTel-dx;
  }
  
  h3{
  font-size: $sizeTel-trs;
  }

  .tete, .proso, .footer{
    background-color: $c-text;
    color: $c-bg;
   
  }

  .tete a {
    color: $c-deco;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
  }

  

  .img__chat{
    height: 120px;
    border-radius: 50%;
    border: 2px solid $c-deco;
  }

  .chat{
    max-width: 100%;
    padding: auto;
    display: flex;
    
  }

  .chat p {
    max-width: 40%;
    border-radius: 20px;
    padding: 12px 20px 8px;
    margin-left: 20px;
    color: $c-bg;
  }

  .chat p {
    border: 2px solid $c-deco;
}

section:not(.tete){
  padding-left: 10px;
}

.tete div{
  padding-left: 10px;
}

.tete, .interview, .proso{
  padding-bottom: 40px;
}

.soustete, .proso, .mpa{
  padding-top: 40px;
}

.soustete--img{
  
  max-width: 100%;
  text-align:center;
  margin:auto;
  display:flex;
  border-radius: 0 0;
  margin-bottom: 100px;
}



  

.tete img {
  max-width: 100%;
}

.soustete p {
  margin-bottom: 57px;
}

.bold{ 
font-size: $sizeTel-txt;
font-weight: 700;
}
  
.mpa h2 {
  margin-top: 80px;
}

.proso h3{
  margin-top: 80px;
}

.proso li:not(.slider__btn){
  margin: 10px;
  list-style-image: url(../assets/images/svg/patte.svg);
}

.icone{
 height: 100px;
  max-width: 100%;
  text-align:center;
  margin:auto;
  display:flex;
  
}



/* TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE */
@media only screen and (min-width:631px){


  body {
    
    font-size: $sizeTab-txt;
    
  }
  
  h1{
  font-size: $sizeTab-un;
  }
  
  h2{
  font-size: $sizeTab-dx;
  }
  
  h3{
  font-size: $sizeTab-trs;
  }

  .tete div,.soustete, .mpa{
    max-width: 65%;
    justify-content: center;
    margin: auto;
    
}

.interview, .proso div{
  max-width: 80%;
  justify-content: center;
    margin: auto;
}






}



/* DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS */
@media only screen and (min-width:1000px) {



.tete{
  display: flex;
  margin-top: 40px;
}

.tete img {
   max-width: 50%;
}

.tete div{
    margin-left: 80px;
    
  
}

.tete div p{
  max-width: 60%;
}

body p, body h3 {
  max-width: 50%;

}




.img__chat{
  height: 200px;
  border-radius: 50%;
 
}
.chat p {
    height: 60px;
    width: 170px;
  }
  
  body section{
    padding: 0;
  }
  
  .tete, .interview, .proso{
    padding-bottom: 0;
  }
  

}