body {
    font-family: 'Nunito', sans-serif;
    font-size: $sizeTel-txt;
    line-height: 1.4;
    color: $c-text;
    background-color: $c-bg;
    margin: 0 0;
  }

  p{
    width: 97%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .interview__resume--margin, .proso--margin, .mpa--margin, .tete--margin{
    margin-bottom: 20px;
}
  
  h1{
    font-size: $sizeTel-un;
    margin: 25px 0 5px 0;
  }
  
  h2{
    font-size: $sizeTel-dx;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h3{
    font-size: $sizeTel-trs;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .tete, .proso, .footer{
    background-color: $c-text;
    color: $c-bg;
   
  }

  .tete div, .soustete div p, .soustete div h3, .interview .interview--resume, .interview h2, .proso h2, .proso h3, .proso p, .mpa{
    margin-left: 10px;

  }

  .tete, .interview, .proso{
    padding-bottom: 40px;
  }

  .mpa{
    padding-bottom: 80px;
  }

  .soustete, .proso, .mpa{
    padding-top: 40px;
  }

  .bold{ 
    font-size: $sizeTel-txt;
    font-weight: 700;
  }
    
  







/* TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE */
@media only screen and (min-width:631px){


  body {
    
    font-size: $sizeTab-txt;
    
  }
  
  h1{
    font-size: $sizeTab-un;
  }
  
  h2{
    font-size: $sizeTab-dx;
  }
  
  h3{
    font-size: $sizeTab-trs;
  }

  .tete div,.soustete, .mpa, .interview--resume, .proso h2, .interview, .proso div:nth-of-type(5){
    max-width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
  }
  .soustete div p, .interview .interview--resume, .interview h2, .proso h3, .proso p, .soustete div h3{
    margin-left: 0px;

  }

  /*.mpa h2 {
    margin-top: 80px;
  }*/

}

/* DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS */
@media only screen and (min-width:1000px) {

  h1{
    margin: 25px 0 25px 0;
  }
  body p:not(.soustete__flex--text p), body h3:not(.soustete__flex--text h3){
    max-width: 60%;

  }
  
    
  body section{
    padding: 0;
  }
    
  .tete, .interview, .proso{
    padding-bottom: 0;
  }
    section:not(.tete) {
    padding-left: inherit;
  }


  .interview, .proso{
    padding-bottom: 80px;
  }

  .mpa{
    padding-bottom: 160px;
  }

  .soustete, .proso, .mpa{
    padding-top: 80px;
  }

  .mpa, .interview--resume, .interview h2, .proso h2, .proso div:nth-of-type(5){
    max-width: 80%;
  }

  .nav__list--li a:hover, .navfo__liste--li a:hover, .footer__info a:hover:not(.footer__info--nohover) {
    background-color: $c-deco;
    color: $c-text;
}

.navfo__liste--li a:focus, .navfo__liste--li a:focus, .footer__info a:focus:not(.footer__info--nohover) {
  border: 2px solid $c-deco;
}

}