$c-bg: #F9FAFA;
$c-deco: #FFD500;
$c-text: #091423;

$sizeTel-txt: 20px;
$sizeTel-trs: 28px;
$sizeTel-dx: 40px;
$sizeTel-un: 57px;

$sizeTab-txt: 21px;
$sizeTab-trs: 18px;
$sizeTab-dx: 18px;
$sizeTab-un: 18px;

$sizePc-txt: 22px;
$sizePc-trs: 18px;
$sizePc-dx: 18px;
$sizePc-un: 18px;